{{home-menu}}
<div class="ui container">
  <h4 class="ui horizontal divider header"></h4>
  
  <h2 class="ui center aligned purple header">
    PyCode Browser: Python snippets for education
  </h2>

  <h4 class="ui horizontal divider header">
    <i class="bar chart icon"></i>
    Read the code
  </h4>

  <div id="details">
    
    <div class="ui top attached tabular menu fluid three item inverted">
      <a class="ui active item green" data-tab="code">Code Browser</a>
      <a class="ui item purple" data-tab="help">Documentation</a>
      <a class="ui item teal" data-tab="run">Execute</a>
    </div>
    <div class="ui bottom attached active tab transition fade in green" data-tab="code">
      {{#ui-accordion class="styled fluid"}}
        {{#each-in scriptdata as |directoryname scripts|}}
          <div class="ui title">
            <i class="dropdown icon"></i>{{ directoryname}} : {{ scripts.path }}
          </div>
          <div class="content minitable" style="max-height:600px;overflow:auto;">
            <table class="ui very basic selectable table">
              <tbody>
                {{#each scripts.data as |script|}}
                  <tr>
                    <td class="collapsing">
                      <div class="fluid ui labeled mini button" tabindex="0" {{action "runScript" scripts.path script.Filename on="click"}}>
                        <div class="ui basic green mini button icon">
                          <i class="play icon"></i>
                        </div>
                        <a class="fluid ui basic left pointing blue mini label" >
                          {{script.Filename}}
                        </a>
                      </div>

                    </td>
                    <td>{{script.Intro}}</td>
                    <td class="right aligned collapsing">
                      <div class="ui buttons mini">
                        <button class="ui button purple labeled icon" {{action "viewScript" scripts.path script.Filename on="click"}} ><i class="eye icon"></i>View</button>
                        <div class="or"></div>
                        <a class="ui button teal right labeled icon" target="_blank" href="{{apiURL}}/{{ scripts.path }}/{{script.Filename}}" rel="noopener" download target="_blank"><i class="save icon"></i>Download</a>
                      </div>
                    </td>
                  </tr>
                {{/each}}

              </tbody>
            </table>
          </div>
        {{else}}
          <div class="ui dimmable">
            <div class="ui active dimmer">
              <div class="ui medium indeterminate text loader">Preparing Files</div>
            </div>
            <div style="height:5em;"></div>
          </div>
          {{#ui-progress percent=1 class="teal indicating tiny"}}
            <div class="bar"></div>
          {{/ui-progress}}

        {{/each-in}}

      {{/ui-accordion}}
    </div>
    <div class="ui bottom attached tab segment transition fade in purple" data-tab="help">
      {{md-docs}}
    </div>
    <div class="ui bottom attached tab segment transition fade in teal"  style="min-height:400px;" data-tab="run">
      {{#each codeResults as |element|}}
        {{#if (eq element.type 'input')}}
          <label id="{{element.labelname}}" class="{{element.class}}">{{element.label}}</label>
          {{input id=element.name}}
        {{/if}}
        {{#if (eq element.type 'label')}}
          <label id="{{element.name}}" class="{{element.class}}">{{element.value}}</label>
        {{/if}}
        {{#if (eq element.type 'button')}}
          <button id="{{element.name}}" class="btn btn-small btn-primary" {{action 'runButtonAction' element.action}}>{{element.label}}</button>
        {{/if}}
        {{#if (eq element.type 'text')}}
          {{element.value}}<br>
        {{/if}}
        {{#if (eq element.type 'span')}}
          <div class="{{element.class}}"><span id="{{element.name}}">{{element.value}}</span></div>
        {{/if}}
        {{#if (eq element.type 'plot')}}
          {{graph-jqplot data=element}}
        {{/if}}

      {{/each}}
      <div class="ui dimmer runmodalloading">
        <div class="ui large text loader">Compiling Server Side Code for 
          <div class="ui left pointing teal basic label">
            {{activatedFilename}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="intro">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="contributors">Contributors' License</a>
      <a class="item" data-tab="about">About Pycode</a>
    </div>

    <div class="ui bottom attached tab segment transition fade in active" data-tab="contributors">
      <div style="background: #ffffff; overflow:auto;width:auto;padding:.2em .6em;width:100%;overflow-x: scroll;display: inline-block; white-space: nowrap;font-size:9pt;">
        <pre style="margin: 0; line-height: 125%">
          <span>#!/usr/bin/python</span>
          <span>#    This program is free software: you can redistribute it and/or modify</span>
          <span>#    it under the terms of the GNU General Public License as published by</span>
          <span>#    the Free Software Foundation, either version 3 of the License, or</span>
          <span>#    (at your option) any later version.</span>
          <span>#</span>
          <span>#    This program is distributed in the hope that it will be useful,</span>
          <span>#    but WITHOUT ANY WARRANTY; without even the implied warranty of</span>
          <span>#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the</span>
          <span>#    GNU General Public License for more details.</span>
          <span>#(c) SPACE 2007 www.space-kerala.org</span>
          <span>#Original Authors: </span>
          <span># Vibeesh P &lt;vibeesh@space-kerala.org&gt;, </span>
          <span># Vimal Joseph &lt;vimal.joseph@zyxware.com&gt; (modified on march 2, 2010 by  to change the script to browse python programmes.)</span>
          <span># march 9, 2010 added save and some interface changes.</span>
          <span># April 3, 2010 replaced the gtktextview with gtksourceview for syntax highlighting and line</span>
          <span># numbering. </span>
          <span># May 3, 2010 now the modified programmes will execute in /tmp and will be deleted when exiting the application</span>
          <span># May 8, 2010, the vte terminal added</span>
          <span># June 14, 2012 Minor corrections in the class name.</span>
          <span># version 0.93</span>
          <span># (c) 2015 Georges Khaznadar &lt;georgesk@debian.org&gt;</span>
          <span># use of &#39;gi.repository&#39;, and of &#39;temptfile&#39;</span>
        </pre>
      </div>    
    </div>
    <div class="ui bottom attached tab segment transition fade in" data-tab="about">
      <h1 style="color: #5e9ca0;">Objective of this platform:</h1>
      <p><span style="color: #003300;">Eyes-Online is being developed with the goal of facilitating sharing of code snippets and documentation related to education.<br>This particular section is derived from the <a href="https://github.com/sposh-science/pycode-browser">pycode-browser</a> which is a repository of Python code snippets and it has also been packaged for Debian. <br>As of now, It merely allows easier access to these code snippets, and individual downloads .</span></p>
      <p><span style="color: #003300;">The code snippets contained in pycode-browser are hosted on github, and the entire repository can be cloned with the following line</span></p>
      <blockquote>
        <p><span style="color: #0000ff;"><span style="color: #003300;">git clone&nbsp;<a href="https://github.com/sposh-science/pycode-browser">https://github.com/sposh-science/pycode-browser</a></span></span></p>
      </blockquote>
      <p><span style="color: #0000ff;"><span style="color: #003300;">The following features are in the pipeline:</span></span></p>
      <ul>
        <li><span style="color: #003300;">Contributing documentation for each of the code examples ( These will be appended to the git repository with contributor details after successful peer review)</span></li>
        <li><span style="color: #0000ff;"><span style="color: #003300;">Executing the code snippets from within the browser</span></span></li>
      </ul>
      <p>&nbsp;</p>
    </div>
  </div>



</div>



<div class="ui fullscreen modal viewmodal">
  <i class="close icon"></i>
  <div class="header">
    <div class="ui dimmer viewmodalloading">
      <div class="ui large text loader">Loading Script</div>
    </div>
    {{ viewScriptName }}
  </div>
  <div class="content">
    <textarea style="width:100%;height:auto;" rows="20">{{ viewScriptContent }}</textarea>
  </div>
  <div class="actions">
    <div class="ui positive button">
      Close
    </div>
  </div>
</div>
