<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <div class="item">
      <img class="logo" src="assets/images/logo.png">
      ExpEYES Online
    </div>
    <a class="active item" href="{{href-to 'index' }}">Home</a>

    <div class="right menu">
      <a class="ui floated dropdown item simple">
        Links <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <a href="{{href-to 'pycode-browser' }}">PyCode Browser</a>
          </div>
          <div class="item">
            <a href="https://eyes17-help.surge.sh" target="_blank" rel="noopener">ExpEYES-17 Helpfiles</a>
          </div>
        </div>
      </a>
      <a class="ui floated dropdown item simple">
        Accounts <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item">
            <a class = "ui button" href="{{href-to 'sign-up' }}">Sign Up</a>
          </div>
          <div class="item">
            <a class="ui button loginmodal">Sign In</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{{!--
<div class="ui vertical inverted sidebar menu">
  <a class="active item" href="{{href-to 'index' }}">Home</a>
  <a class="item" href="{{href-to 'pycode-browser' }}">Pycode Browser</a>
</div>
--}}

<div id="pusher" class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>
        <a class="active item" href="{{href-to 'index' }}">Home</a>
        <a class="item" href="{{href-to 'pycode-browser' }}">Pycode Browser</a>
        <div class="right item">
          <a class="ui inverted button loginmodal">Sign In</a>
          <a class="ui inverted button">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        ExpEYES Online
      </h1>
      <h2>Explore a collection of code examples</h2>
      <div class="ui huge primary button">Get Started <i class="down arrow icon"></i></div>
    </div>

  </div>

</div>

<div class="ui small modal loginmodal">
  <i class="close icon"></i>
  <div class="header">
    Log In
  </div>
  <div class="image content">
    <div class="ui small image" style="margin:auto 20px;">
      <img src="assets/images/logo.png" style="margin:auto;">
    </div>
    <div class="ui description loginform">
      <form class="ui form" {{action "logMeIn" on="submit"}}>
        <div class="field">
          <label>Email address</label>
          {{input value=loginEmail type="email" id="loginEmail" class="form-control" placeholder="Email address" required=true autofocus=true}}
        </div>
        <div class="field">
          <label>Password</label>
          {{input value=loginPassword type="password" id="loginPassword" class="form-control" placeholder="Password" required=true autofocus=true}}
        </div>
        <button class="ui button primary" disabled={{isProcessing}}>Submit</button>
        {{#if loginFailed}}
          <div class="alert alert-danger">{{loginFailedMessage}}</div>
        {{/if}}
        {{#if isSlowConnection}}
          <div class="alert alert-info">The request seems to be taking more time than usual, please wait.</div>
        {{/if}}
      </form>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative deny button">
      Cancel
    </div>
  </div>
</div>
